<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Doggos!</title>
  </head>
  <body>
    <h1>Dogs!</h1>

    <a href="/dogs/new">Create a dog</a>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Hair Color</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% dogs.forEach(dog => { %>
          <tr>
            <td>
              <a href="/dogs/<%= dog.id %>">
                <%= dog.name %>
              </a>
            </td>
            <td><%= dog.hairColor %></td>
            <td><a href="/dogs/<%= dog.id %>/edit">Edit</a></td>
            <td>
              <form action="/dogs/<%= dog.id %>/delete" method="POST">
                <input type="submit" value="Delete" />
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>
</html>
